main{
  #features{
    padding: 100px;

    h2{
      font: bold 30px Raleway, sans-serif;
      color: #262626;
      text-align: center;
      margin-bottom: 50px;

      span{
        color: #ff0036;
      }
    }


    .features_slogan{
      text-align: center;
      font: 16px Raleway, sans-serif;
      color: #262626;
      margin-bottom: 50px;
    }
  }
}