main{
  #social{
    background: url("../images/social_bg.jpg")center top no-repeat;
    padding: 100px;

    h2{
      text-align: center;
      font: bold 30px Raleway, sans-serif;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 50px;

      span{
        color: #ff0036;
      }
    }
  }
}